@import "resources";
.hide {
  display: none;
}
#menu.menu-open {
  right: 0;
  animation: menu-open-animation 0.5s;
}
#menu.menu-close {
  right: -65%;
  animation: menu-close-animation 0.5s;
}
a.menu-select {
  border-color: $white-color;
}
#ham-menu {
  position: relative;
  z-index: 2;
  cursor: pointer;
}
#menu {
  @include menu-blur;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -65%;
  height: 100%;
  width: 65%;
  color: black;
  padding: 9rem 0 3.2rem 3.2rem;
  ul {
    margin-top: 4rem;
    li {
      list-style: none;
      margin-bottom: 1rem;
      a {
        padding: 0.5rem;
        display: grid;
        grid-template-columns: 4rem;
        grid-template-areas: "a b";
        align-content: start;
      }
    }
    span,
    a {
      @include font-menu($font-primary, 2.6rem, 0.27rem, $white-color);
    }
    a {
      font-weight: 400;
    }
  }
}
.menu-item {
  border-right: solid 0.7rem transparent;
}