$white-color: #ffffff;
$primary-color: #0b0d17;
$secondary-color: #d0d6f9;
$line-break-color: #383B4B;
$bg-image-l: "/assets/home/background-home-desktop.jpg";
$font-primary: "Barlow Condensed", sans-serif;
$font-heading: "Bellefair", sans-serif;
$font-body: "Barlow", sans-serif;

@mixin heading($font-family, $font-size) {
  font-family: $font-family;
  font-size: $font-size;
  text-transform: uppercase;
}
@mixin sub-heading($font-family, $font-size, $letter-spacing, $font-color) {
  font-family: $font-family;
  font-size: $font-size;
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
  font-weight: 400;
  color: $font-color;
}
@mixin body-text($font-family, $font-size, $color) {
  font-family: $font-family;
  font-size: $font-size;
  color: $color;
}
@mixin font-menu($font-family, $font-size, $letter-spacing, $color) {
  font-family: $font-family;
  font-size: $font-size;
  letter-spacing: $letter-spacing;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: $color;
}
@mixin menu-blur {
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(4rem);
}
@keyframes menu-open-animation {
  from {
    right: -65%;
  }
  to {
    right: 0;
  }
}
@keyframes menu-close-animation {
  from {
    right: 0;
  }
  to {
    right: -65%;
  }
}
