@import 'main';
@import 'ham-menu';
body{
  background-image: url(/assets/destination/background-destination-mobile.jpg);
  #planet-photo{
    margin-top: calc(3.2rem - 1.6rem);
    margin-bottom: calc(2.6rem - 1.6rem);
    width: 20rem;
  }
}
h1#title{
  font-size: 5.6rem;
  line-height: normal;
}

#paragraph{
  @include border-bottom;
  padding: 0 0 3.2rem;
  margin: 0 clamp(2.4rem, 2rem + 5vw, 9.8rem);
}
.tab-menu{
  display: flex;
  gap: 2.6rem;
  .tab-item{
    @include sub-heading($primary-color, 1.5rem, .24rem, $secondary-color);
    text-decoration: none;
    padding: .8rem 0;
    border-bottom: solid 4px transparent;
    &:hover{
      border-color: $gray-color;
    }
  }
  a.tab-item.tab-item-select{
    border-color: $white-color;
  }
}

#sub-headings{
  margin: 3.2rem 0 5.8rem 0;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  .sub-heading-item{
    text-align: center;
  }
}
.sub1{
  @include sub-heading($font-primary, 1.4rem, .24rem, $secondary-color);
  margin-bottom: 1.2rem;
}
.sub2{
  @include sub-heading($font-heading, 2.8rem, normal, $white-color);
}

@media (min-width: 550px) {
  body {
    background-image: url(/assets/destination/background-destination-tablet.jpg);

  }
  img#planet-photo{
    width: 30rem;
    margin-top: calc(6rem - 1.6rem);
    margin-bottom: calc(5.3rem - 1.6rem);
  }
  #sub-headings{
    flex-direction: row;
  }

}
@media (min-width: 900px) {
  body {
    background-image: url(/assets/destination/background-destination-desktop.jpg);
  }
}
