@import 'main';
@import 'ham-menu';

main{
  margin-top: calc(4.8rem - 2.4rem);
  h5{
    color: $secondary-color;
  }
}

#btn-explore {
  @include sub-heading($font-heading, 2rem, 0.125rem, $primary-color);
  margin-top: 7rem;
  background-color: $white-color;
  cursor: pointer;
  height: 15rem;
  width: 15rem;
  border: none;
  border-radius: 50%;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: solid 0 rgba(255, 255, 255, 0.2);
  transition: outline-width 0.2s ease-in-out;
  &:hover {
    outline-width: 4.5rem;
  }
}
@media (min-width: 550px) {
  body {
    background-image: url($bg-home-m);
    main{
      margin-top: calc(10.6rem - 2.4rem);
      h5{
        align-self: center;
        margin: 0;
      }
    }
  }
}
@media (min-width: 1000px) {
  body {
    background-image: url($bg-home-l);
  }
}
