:root{
  font-size: 62.5%;
}
$white-color: #ffffff;
$primary-color: #0B0D17;
$secondary-color: #D0D6F9;
$bg-image-l: '/assets/img/background-home-desktop.jpg';
$font-heading: 'Bellefair', sans-serif;
$font-heading-5: 'Barlow Condensed', sans-serif;
$font-body: 'Barlow', sans-serif;
*{
  // font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $white-color;
  
}

@mixin heading($font-family, $font-size){
  font-family: $font-family;
  font-size: $font-size;
  text-transform: uppercase;
}
@mixin sub-heading($font-family, $font-size, $letter-spacing, $color){
  font-family: $font-family;
  font-size: $font-size;
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
  font-weight: 400;
  color: $color;
}
@mixin body-text($font-family, $font-size, $color){
  font-family: $font-family;
  font-size: $font-size;
  color: $color;
}
main{
  #title{
    @include heading($font-heading, 8rem);
    line-height: 10rem;
  }
  span{
    @include sub-heading($font-heading-5, 2rem, 2.7px, $secondary-color);
  }
  p{
    @include body-text($font-body, 1.5rem, $secondary-color);
    line-height: 2.5rem;
  }
}
body{
  background-color: $primary-color;
  background-image: url($bg-image-l);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  // background: #222 url($bg-image-l) center cover no-repeat;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem;
}
nav{
  ul{
    display: none;
  }
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  p{
    text-align: center;
    padding: 0 2.4rem;
  }
}
#btn-explore{
  margin-top: 80px;
  background-color: $white-color;
  cursor: pointer;
  height: 15rem;
  width: 15rem;
  border: none;
  border-radius: 50%;
  transition: all .3s ease-in-out;
  &:hover{
    outline: solid 4.5rem rgba(255, 255, 255, 0.200);
  }
}
#btn-explore a {
  @include body-text($font-heading, 3.2rem, $primary-color);
  text-decoration: none;
}