@import "main";
@import "resources";
@import "ham-menu";

body {
  background-image: url($bg-tech-s);
}
main {
  #tech-img {
    width: 100vw;
    max-width: 76.8rem;
    margin-top: 3.4rem;
    margin-bottom: 3.2rem;
  }

  .subtitle {
    @include sub-heading($font-primary, 1.4rem, 0.236rem, $secondary-color);
  }
  .main-title {
    @include heading($font-heading, 2.4rem);
  }
  .paragraph {
    margin: 0 clamp(2.4rem, 2rem + 5vw, 9.8rem) 5rem;
  }
}

.bullet-nav {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 2.6rem;
  a {
    display: flex;
    text-decoration: none;
    background-color: transparent;
    color: $gray-color;
    width: 4rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
    border: solid 2px $opacity-color;
    border-radius: 50%;
    span {
      @include sub-heading($font-heading, 1.6rem, 0.1rem, $white-color);
    }
  }
  a:hover {
    border-color: $white-color;
  }

  a.select-bullet {
    background-color: $white-color;
    span {
      color: $primary-color;
    }
  }
}
@media (min-width: 550px) {
  body {
    background-image: url($bg-tech-m);
  }
  main {
    .subtitle {
      font-size: 1.6rem;
    }
    .main-title {
      font-size: 4rem;
    }
    .paragraph {
      font-size: 1.6rem;
    }
  }
}
@media (min-width: 900px) {
  body {
    background-image: url($bg-tech-l);
  }
}
